/* CSS Style Guide for Web Visualization Pages */

body{
    background-color: #f6f6f6; 
}

.navbar{
    max-height: 48px; 
}
.navbar{
    background-color: white;
}
.navigation .navbar-brand{
    border-radius: 5px;
    padding: 8px;
    color: white; 
    font-weight: bold; 
    background-color: #b07a28;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media(max-width: 992px){
    .navbar-expand-lg{
        background-color: #b07a28;
    }
    .navbar{
        padding: inherit;
        max-height: none; 
    }
    .navbar div{
        margin: inherit; 
        background-color: white;  
    }
    button{
        margin-right: 10px; 
    }
}

.box {
    border-radius: 15px;
    padding: 10px 10px 10px; 
    margin-top: 80px; 
    margin-bottom: 80px; 
    background-color: white;
}

img{
    width:100%;
    height:100%;
}
/* Note: Some images appear cut off; this is due to the actual images and the way they were saved through pandas. */

.title{
    padding: 0;
    margin-left: 10px;
    color: #b07a28;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold; 
}

p{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}